<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <!-- <link rel="stylesheet" href="/static/index.css"> -->
</head>
<body>
  <div class='main'>
    <h2 id='title'>Login to chat</h2>
    <form method="post" action="/login">
      <label for="user_id">user_id:</label>
        <input type="text" id="user_id" name="user_id">
      <label for="password">password:</label>
        <input type="password" id="password" name="password">
        <button type="submit">登入</button>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
  <!-- <script src="/static/js/index.js"></script> -->
</body>

</html>